@model AdminPanelCreateOrEditViewModel
@{
    ViewData["Title"] = "ویرایش کاربر";
   
    List<PermissionIndexViewModel> permissions = ViewData["PermissionList"] as List<PermissionIndexViewModel>;
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-area="Admins" asp-controller="AdminHome" asp-action="Index">خانه</a>
        </li>
        <li class="active"><a asp-area="Admins" asp-controller="AdminHome" asp-action="ShowAllUsers">مدیریت کاربران</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ul>
</div>

<div style="margin: 2%">
    <h2>افزودن کاربر</h2>
    <form asp-action="EditUserFromAdmin" method="post" autocomplete="off" asp-antiforgery="true" enctype="multipart/form-data">
        <input asp-for="AvatarImageName" type="hidden"/>
        <input asp-for="Id" type="hidden"/>
        <div class="col-md-8">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-azure">
                    <span class="widget-caption" style="font-size: large">ثبت اطلاعات کاربری</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">

                        <div class="form-title">
                            اطلاعات کاربر
                        </div>
                        <label class="text text-info"> نام کاربری :</label>
                        <label class="text-info">@Model.Title </label>

                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل">
                                <i class="fa fa-envelope-o orange circular"></i>
                            </span>
                        </div>
                        <label class="text text-danger">* در صورت تغییر در مقدار این فیلد کلمه عبور کاربر تغییر خواهد کرد !</label>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input asp-for="Password" type="text" class="form-control" placeholder="کلمه عبور">
                                <i class="fa fa-lock green circular"></i>
                            </span>
                        </div>
                       
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header  bordered-bottom bordered-green">
                                    <span class="widget-caption" style="font-size: large">انتخاب نقش ها</span>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div class="checkbox">
                                        @foreach (var item in permissions)
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="PermissionList" value="@item.Id" @((@Model.PermissionList.Any(r => r == @item.Id) ? "checked" : ""))>
                                                    <span class="text">@item.Title</span>
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <button type="submit" class="btn btn-blue">ثبت تغییرات</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget flat radius-bordered">
                <div class="widget-header bg-danger">
                    <span class="widget-caption" style="font-size:  large">درج تصویر</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <div class="form-title">
                            تصویر کاربر
                        </div>
                        <div class="panel-body">
                            <img id="userAvatar" class="thumbnail" style="max-width: 250px" src="/images/Profile/@Model.AvatarImageName" />
                            <div class="form-group">
                                <label>انتخاب تصویر</label>
                                <input type="file" asp-for="AvatarFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section AdminScripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#userAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        //hint this Id belong to input bottom id
        $("#Avataname").change(function() {
            readURL(this);
        });
    </script>
}
