@model Tuple<CodeTo.Core.ViewModel.Permission.RolePermissionAddOrEditViewModel, List<CodeTo.Core.ViewModel.Permission.PermissionsViewModel>>
@{
    ViewData["Title"] = (Model.Item1.RoleId == 0 ? "افزودن" : " ویرایش");
}
<title>@ViewData["Title"]</title>
<div class="page-body">
    <div class="widget col-lg-12 col-sm-12 col-xs-12">
        <div class="widget-header bg-palegreen">
            <span class="widget-caption">@(Model.Item1.RoleId == 0 ? "افزودن" : $" ویرایش")</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
                <a href="#" data-toggle="dispose">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <form asp-action="@(Model.Item1.RoleId == 0 ? "Add" : "Edit")">
                <div class="form-group col-lg-12">
                    <label asp-for="Item1.RoleName" class="control-label"></label>
                    <input asp-for="Item1.RoleName" class="form-control" />
                    <span asp-validation-for="Item1.RoleName" class="text-danger"></span>
                </div>
                @foreach (var per in Model.Item2)
                {
                    <div class="task-check col-lg-2 col-sm- col-xs-4">
                        <label>
                            <input type="checkbox" value="@per.PermissionTitle">
                            <span class="text"> @per.PermissionTitle</span>
                        </label>
                    </div>
                }
                @if (Model.Item1.RoleId != 0)
                {
                    <input type="hidden" asp-for="Item1.RoleId" />

                    <div class="form-group col-lg-offset-11">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </div>
                }
                else
                {
                    <div class="form-group col-lg-offset-11">
                        <input type="submit" value="Add" class="btn btn-success" />
                    </div>
                }
            </form>
        </div>
    </div>
</div>