@model CodeTo.Core.ViewModel.ArticleGroups.ArticleGroupCreateOrEditViewModel
@{
    ViewData["Title"] = $"گروه {@Model.Title}";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}
<title>@ViewData["Title"]</title>
<div class="page-body">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-red">
                <span class="widget-caption">@ViewData["Title"]</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-xs-12 widget-body">
                <h4>آیا از حذف گروه « @Model.Title » مطمئن هستید ؟</h4>
                <hr class="wide">
                <dt class=" col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
                <p><br /></p>
                <form asp-action="Delete">
                    <br />
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" type="button" class="btn btn-success">برگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>