@using CodeTo.Core.Utilities.Extensions
@model IEnumerable<CodeTo.Core.ViewModel.CourseGroups.CourseGroupIndexViewModel>

@{
    ViewData["Title"] = "گروه مقاله ها ";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div class="widget-body">
    <div class="table-toolbar">
        <a id="editabledatatable_new" asp-area="Courses" asp-controller="Course" asp-action="Create" class="btn btn-default">
            افزودن
        </a>
        <div class="btn-group pull-right">
            <div id="editabledatatable_filter" class="dataTables_filter">
                <label>
                    <input type="search" class="form-control input-sm" placeholder="جستوجو" aria-controls="editabledatatable">
                </label>

            </div>
        </div>
    </div>
    <div id="editabledatatable_wrapper" class="dataTables_wrapper form-inline no-footer">
        <div class="DTTT btn-group">

        </div>

        <table class="table table-striped table-hover table-bordered dataTable no-footer" id="editabledatatable" role="grid" aria-describedby="editabledatatable_info">
            <thead>
                <tr role="row">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastModifyDate)
                    </th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 273px;">
                    </th>
                </tr>
            </thead>

            <tbody>

                <tr role="row" class="odd">


                    @foreach (var item in Model)
                    {
                    <tr>
                        <th>
                            @item.Id
                        </th>
                        <th>
                            @item.Title
                        </th>
                        <th>
                            @item.CreateDate.ToShamsi()
                        </th>
                        <th>
                            @if (item.LastModifyDate.HasValue)
                            {
                                @item.LastModifyDate.Value.ToShamsi()
                            }
                        </th>

                        <th>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a asp-area="Courses" asp-controller="CourseGroup" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">ویرایش</a>
                                <a asp-area="Courses" asp-controller="CourseGroup" asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-success">جزـیات</a>
                                <a asp-area="Courses" asp-controller="CourseGroup" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">حذف</a>
                            </div>
                        </th>
                    </tr>
                }
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
